---
import Logo from "./Logo.astro";
import ShortForm from "../ui/ShortForm.astro";

const navigationLinks = [
  { name: "How It Works", href: "#how-it-works" },
  { name: "Solutions", href: "#solutions" },
  { name: "Benefits", href: "#benefits" },
  { name: "FAQ", href: "#faq" },
];

const legalLinks = [
  { name: "Privacy Policy", href: "#" },
  { name: "Terms of Service", href: "#" },
];

const contactLinks = [
  { name: "vito@7agenty.it", href: "mailto:vito@7agenty.it" },
  { name: "LinkedIn", href: "https://www.linkedin.com/in/vito-pugni-36bb25250/" },
  { name: "Twitter", href: "#" },
];
---

<section class="sm:px-5">
  <div class="w-full max-w-[1240px] mx-auto">
    <div
      class="px-[15px] bg-dark text-gray py-[55px] lg:px-[60px] sm:rounded-t-[45px]"
    >
      <div>
        <div
          class="flex flex-col lg:flex-row gap-7 items-center justify-between"
        >
          <div class="flex flex-col items-center lg:items-start gap-4">
            <a href="#home">
              <Logo darkBg={true} />
            </a>
            <p class="text-white text-center flex-grow text-lg max-w-sm mt-4">
              60-Second Lead Response. 24/7 Follow Up. More Booked Appointments.
            </p>
          </div>
          
          <div class="flex flex-col sm:flex-row gap-10 mt-10 lg:mt-0 text-white justify-end w-full lg:w-1/2">
            <ul class="flex flex-col gap-3">
              <li class="font-bold mb-2">Navigation</li>
              {navigationLinks.map((link) => (
                <li><a class="hover:underline" href={link.href}>{link.name}</a></li>
              ))}
            </ul>
            <ul class="flex flex-col gap-3">
              <li class="font-bold mb-2">Legal</li>
              {legalLinks.map((link) => (
                <li><a class="hover:underline" href={link.href}>{link.name}</a></li>
              ))}
            </ul>
            <ul class="flex flex-col gap-3">
              <li class="font-bold mb-2">Contact</li>
              {contactLinks.map((link) => (
                <li><a class="hover:underline" href={link.href}>{link.name}</a></li>
              ))}
            </ul>
          </div>
        </div>


      </div>

      <div class="h-[1px] bg-gray mb-5 mt-10"></div>
      <div
        class="flex flex-col lg:flex-row h-20 justify-center mt-4 text-center md:justify-between md:mt-0"
      >
        <span>© 2026 7 agenty. All rights reserved.</span>
      </div>
    </div>
  </div>
</section>
